/* Colors */
$color1: #fcecdd;
$color2: rgb(252, 145, 159);
$color3: rgb(32, 79, 169);
$color4: rgb(39, 179, 194);
$white: white;

$bgColor1: rgba(254, 210, 135, 0.75);
$bgColor2: rgba(254, 147, 139, 0.75);

$bgColor3: rgba(246, 162, 100, 0.8);
$bgColor4: rgba(240, 119, 102, 0.8);

body {
  background: url(./img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Nunito", sans-serif;
  .container {
    margin: 2rem auto;
    min-height: 100vh;
    max-width: 80vw;
    background: linear-gradient(45deg, $bgColor1, $bgColor2);
    border-radius: 2vw;
    box-shadow: 0 1rem 1rem 0rem rgba(61, 61, 61, 0.696);
    //header
    h1 {
      font-size: 4rem;
      color: $white;
      font-family: "Dancing Script", cursive;
      text-shadow: 0.1rem -0.1rem 0.1rem #e6dbe6, -0.1rem 0.2rem 0.1rem #737272, -0.2rem 0.6rem 0.1rem #9b9898,
        -0.3rem 0.8rem 0.1rem #929191;
      padding-top: 1rem;
      padding-left: 1rem;
      .bi-list-ul {
        padding-right: 1rem;
        vertical-align: middle;
        color: $color4;
      }
      .accent {
        color: $color4;
      }
    }
    //form
    form {
      margin: 1rem auto;
      .mb-3 {
        margin-bottom: 0;
        .form-label {
          font-size: 2rem;
          font-family: "Dancing Script", cursive;
        }
      }
      .form-label {
        font-size: 2rem;
        font-family: "Dancing Script", cursive;
      }
      .alert {
        display: none;
        font-size: 1.3rem;
        padding: 0.5rem;
      }
      .btn {
        margin-top: 1rem;
        border: none;
        color: $color1;
        box-shadow: 0 0.3rem 0.3rem 0 rgba(49, 49, 49, 0.696);
        background: $color2;
        //font-family: "Dancing Script", cursive;
        &:hover {
          transform: translateY(-0.5rem);
        }
        &:active {
          transform: translateY(0.5rem);
          box-shadow: none;
          color: $color2;
          background-color: $white;
        }
      }
    }
    .panel {
      thead {
        background: linear-gradient(top, $bgColor3, $bgColor4);
        font-size: 1.3rem;
        color: $white;
      }
      tbody {
        background-color: $color1;
        .delete {
          color: $color4;
          &:hover {
            transform: scale(1.5);
            color: $color2;
          }
        }
      }
    }
  }
  //footer
  .footer {
    text-align: center;
    width: 100%;
    padding: 0.5em 0;
    h4 {
      font-size: 1rem;
    }
    h4 > a {
      color: $color3;
      &:hover {
        color: $color2;
      }
    }
  }
}
